.rs{
    color: white;
    background: #001030;
    position: relative;
    height: 75vh;
    overflow-y: scroll;
}
.rs-profile img{
    width: 110;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rs-profile h3{
    font-size: 18px;
    margin: 5px 0px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.rs-profile p{
    font-size: 10px;
    opacity: 80%;
    font-weight: 300;
}
.rs hr{
    border-color: #ffffff50;
    margin: 15px 0px;
}